<?xml version="1.0" encoding="UTF-8" ?>

<configuration debug="true">
    <root level="info"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %line %-5level %logger - %msg%n</pattern>
            <charset>UTF-8</charset> <!-- 此处设置字符集 -->
        </encoder>
    </appender>

    <!--全部日志-->
    <appender name="NX_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./logs/nx/nx-all-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %line %-5level %logger - %msg%n</pattern>
            <charset>UTF-8</charset> <!-- 此处设置字符集 -->
        </encoder>
    </appender>

    <!--系统全部日志-->
    <logger name="cn.com.enersun" level="info" additivity="true">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="NX_FILE"/>
        <!--<appender-ref ref="NX_LOG_OUT"/>-->
    </logger>
</configuration>



